/* Created by Ohaji Gregory */
*
{
  margin: 0;
 padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main
{
position:relative;
top:70px;
height:600px;
margin: 0;
padding:0;
}


.header
{
 background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("Pheonix\\WhatsApp Image 2022-08-05 at 8.59.21 PM (1).jpeg");
 background-size:cover;
 height: 500px;
 text-align:center;
 background-blend-mode:multiply;
 text-align:center;
}

h1
{
   color:white;
   position:relative;
   top:50%;
   transform:translateY(-50%);
   margin:0;
}

.content, .content2
{
  border-bottom: 3px solid white;
}

.content
{
  margin: 0;
  padding: 0;
  background-color: rgb(244,246,251);
  height: 450px;

}

.content h2
{
  text-align: left;
  margin-top: 50px;
  text-transform: uppercase;
  margin-left: 100px;
  width: 40%;
  display: inline-block;
}

.content p
{
  margin-top: 20px;
  position: relative;
  width: 40%;
  text-align: left;
  line-height: 30px;
  font-family: calibri;
  font-size: 15px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 0;
  margin-top: 10px;
}

.content img
{
  float: right;
  height: 280px;
  margin-right: 50px;
  margin-top: 30px;
  width: auto;
  background-color: blue;
  margin-left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-0%, 10%);
}

.content2
{
  margin: 0;
  padding: 20px;
  background-color: rgb(244,246,251);
  height: 450px;
}

.content2 h2
{
  text-align: left;
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 100px;
  width: 45%;
  margin-left:50px;
  display: inline-block;
}

.content2 p
{
  margin-top: 20px;
  position: relative;
  width: 40%;
  text-align: left;
  line-height: 30px;
  font-family: calibri;
  font-size: 15px;
  display: inline-block;
  margin-left:50px;
}

.content2 img
{
  float: left;
  height: 280px;
  margin-right: 50px;
  margin-top: 30px;
  width: auto;
  background-color: blue;
  margin-left: 0;
  top: 50%;
  left: 50%;
  transform: translate(20%, 10%);
}
