/* Created by Ohaji Gregory */
*
{
  margin: 0;
 padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header a:link
{
  color: green;
  text-decoration: none;
}

header li
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 10px;

}


img
{
    height:70px;
    width:70px;
    margin-left: 100px;
}

header ul
{
    float:right;
    margin-right:99px;
    height: 100%;
}

header
{
position:fixed;
border: 2px solid black;
margin:0;
width:100%;
z-index:10;
background-color:white;
height: 80px;
}


main
{
position:relative;
top:70px;
height:600px;
margin: 0;
padding:0;
}


.header
{
 background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("Pheonix\\WhatsApp Image 2022-08-05 at 8.59.21 PM (1).jpeg");
 background-size:cover;
 height: 500px;
 text-align:center;
 background-blend-mode:multiply;
 text-align:center;
}

h1
{
   color:white;
   position:relative;
   top:50%;
   transform:translateY(-50%);
   margin:0;
}

.content, .content2
{
  border-bottom: 3px solid white;
}

.content
{
  margin: 0;
  padding: 20px;
  background-color: rgb(244,246,251);
  height: 450px;

}

.content h2
{
  text-align: left;
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 100px;
  width: 35%;
}

.content p
{
  margin-top: 20px;
  position: relative;
  width: 40%;
  text-align: left;
  line-height: 30px;
  font-family: calibri;
  font-size: 15px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 0;
}

.content img
{
  float: right;
  height: 300px;
  margin-right: 100px;
  margin-top: 30px;
  width: auto;
  background-color: blue;
  margin-left: 0;
}

.content2
{
  margin: 0;
  padding: 20px;
  background-color: rgb(244,246,251);
  height: 450px;
}

.content2 h2
{
  text-align: left;
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 100px;
  width: 35%;
  margin-left:50px;
  display: inline-block;
}

.content2 p
{
  margin-top: 20px;
  position: relative;
  width: 40%;
  text-align: left;
  line-height: 30px;
  font-family: calibri;
  font-size: 15px;
  display: inline-block;
  margin-left:50px;
}

.content2 img
{
  float: left;
  height: 300px;
  margin-left: 100px;
  margin-top: 30px;
  width: auto;
  background-color: blue;
  margin-right: 0;
}

footer
{
  margin: 0;
  background-color:lightgreen;
  line-height: 50px;
  color: white;
}

footer a:link
{
  color: white;
  text-decoration: none;
}

footer ul
{
  margin-left: 100px;
  list-style: none;
}
